<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pre-Examen - Corte 2</title>
    <link rel="stylesheet" href="./css/boostrap.min.css">

</head>
<body class="centrarDiv">

    <div class="containter" id="containter">

        <header class="header">

            <div style="width:25%">

                <br>
                <%-include('partials/encabezado.html');%>

            </div>

        </header>
        <br><br>

        <form action="/" method="post" class="form">
                    
            
            <!--Numero De Boleto-->
            <div class="input-group mb-3">
                <span style="width: 25%; justify-content: center;" class="input-group-text" id="basic-addon1">Num Boleto</span>
                <input id="numeroBoleto" name="NumeroBoleto" type="number" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" required="true">
            </div>

            <!--Destino del Viaje-->
            <div class="input-group mb-3">
                <span style="width: 25%; justify-content: center;" class="input-group-text" id="basic-addon1">Destino</span>
                <input id="destino" type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" required="true">
            </div>

            <!--Nombre del Cliente-->
            <div class="input-group mb-3">
                <span style="width: 25%; justify-content: center;"  class="input-group-text" id="basic-addon1">Nombre del Cliente</span>
                <input id="nombre" type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" required="true">
            </div>

            <!--Años Cumplidos-->
            <div class="input-group mb-3">
                <span style="width: 25%; justify-content: center;" class="input-group-text" id="basic-addon1">Años Cumplidos</span>
                <input id="edad" type="number" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" required="true">
            </div>

            <!--Tipo de Viaje-->
            <div class="input-group mb-3">
                <label style="width: 25%; justify-content: center;" class="input-group-text" for="inputGroupSelect01">Tipo de Viaje</label>
                <select id="tipoViaje" class="form-select" required="true">
                  <option value="">Seleccionar...</option>
                  <option value="1">Sencillo</option>
                  <option value="2">Doble</option>
                </select>
              </div>

            <!--Precio-->
            <div class="input-group mb-3">
                <span style="width: 20%; justify-content: center;" class="input-group-text" id="basic-addon1">Precio</span>
                <span style="width: 5%; justify-content: center;" class="input-group-text" id="addon-wrapping">$</span>
                <input id="precio" type="number" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" required="true">
            </div>
        
            <hr>
            
            <div class="input-group mb-3">
                <center>
                    <button class="btn btn-outline-light" id="btnCalcular">Calcular</button>
                    <input type="reset" class="btn btn-outline-light" value="Limpiar">
                </center>
            </div>


              <!--Resultados-->

              <div class="input-group flex-nowrap">
                <span style="width: 20%; justify-content: center;" class="input-group-text" id="addon-wrapping">SubTotal</span>
                <span class="input-group-text" id="addon-wrapping">$</span>
                <input id="subtotal" type="number" class="form-control" placeholder="" aria-label="Username" aria-describedby="addon-wrapping" readonly >
              </div>
              <br>
              <div class="input-group flex-nowrap">
                <span style="width: 20%; justify-content: center;"  class="input-group-text" id="addon-wrapping">Impuesto 16%</span>
                <span class="input-group-text" id="addon-wrapping">$</span>
                <input id="impuesto" type="number" class="form-control" placeholder="" aria-label="Username" aria-describedby="addon-wrapping" readonly >
              </div>
              <br>
              <div class="input-group flex-nowrap">
                <span style="width: 20%; justify-content: center;"  class="input-group-text" id="addon-wrapping">Descuento</span>
                <span class="input-group-text" id="addon-wrapping">$</span>
                <input id="descuento" type="number" class="form-control" placeholder="" aria-label="Username" aria-describedby="addon-wrapping" readonly >
              </div>
              <br>
              <div class="input-group flex-nowrap">
                <span style="width: 20%; justify-content: center;"  class="input-group-text" id="addon-wrapping">Total a Pagar</span>
                <span class="input-group-text" id="addon-wrapping">$</span>
                <input id="total" type="number" class="form-control" placeholder="" aria-label="Username" aria-describedby="addon-wrapping" readonly >
              </div>


            </form>


        <br><br>
        
        <%-include('partials/piePagina.html');%>

    

    


    <style>
        *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.centrarDiv {
    display: grid;
    place-items: center;
    height: 100vh;
}


#containter{
    background-color: dodgerblue;
    width: 60vw;
    min-width: 500px;
    height: auto;
    padding: 50px;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
}

.header{
    display: flex;
    border: rgb(9, 98, 187) solid 3px;
    background-color: aqua;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.footer{
    border: rgb(5, 103, 201) solid 3px;
    background-color: aqua;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}
    </style>
    


<script>
    const btnCalcular = document.getElementById("btnCalcular").addEventListener('click',function(){
            Calcular();
        }); 


        function Calcular(){
            let precio=document.getElementById("precio");
            let subTotal=document.getElementById("subtotal");
            let impuesto1=document.getElementById("impuesto");
            let descuento1=document.getElementById("descuento");
            let totalapagar=document.getElementById("total");
            let tipoViaje=document.getElementById("tipoViaje");
            let edad=document.getElementById("edad");
           

            if(tipoViaje.value==1){
                if(edad.value>=60){ 
                    subTotal.value=precio.value;
                    impuesto1.value=parseFloat(precio.value * 0.16);
                    descuento1.value=parseFloat(precio.value * 0.5);
                    totalapagar.value=  (parseFloat(precio.value) + parseFloat(impuesto1.value)) - parseFloat(descuento1.value);
                    
                }else{
                    subTotal.value=precio.value;
                    impuesto1.value=parseFloat(subTotal.value * 0.16);
                    descuento1.value=0;
                    totalapagar.value=  (parseFloat(subTotal.value) + parseFloat(impuesto1.value));
                    
                }
            }else{
                
                if(edad.value>=60){ 
                    subTotal.value=parseFloat(parseFloat(precio.value) + parseFloat(precio.value * 0.8));
                    impuesto1.value=parseFloat(subTotal.value * 0.16);
                    descuento1.value=parseFloat(subTotal.value * 0.5);
                    totalapagar.value=  (parseFloat(subTotal.value) + parseFloat(impuesto1.value)) - parseFloat(descuento1.value);
                    
                }else{
                    subTotal.value=parseFloat(precio.value) + parseFloat(precio.value *0.8);
                    impuesto1.value=parseFloat(subTotal.value * 0.16);
                    descuento1.value=0;
                    totalapagar.value=  (parseFloat(subTotal.value) + parseFloat(impuesto1.value)) - parseFloat(descuento1.value);
                }
            }

         
        }
</script>
</div>
</body>
</html>