*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.centrarDiv {
    display: grid;
    place-items: center;
    height: 100vh;
}

#containter{
    background-color: dodgerblue;
    width: 60vw;
    min-width: 500px;
    height: auto;
    padding: 50px;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 5px;
}

.header{
    border: rgb(0, 55, 110) solid 3px;
    background-color: aqua;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

.footer{
    border: rgb(0, 55, 110) solid 3px;
    background-color: aqua;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}